/*
# -----------------------------------------------------
# wlogout style
# Author: Silas Zhang (2026)
# -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import '../../.cache/wal/colors-wlogout.css';

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: all 0.2s ease;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

window {
    background: url("../../.cache/blurred_wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    color: #ffffff;
    font-size: 18px;
    margin: 15px;
    padding: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 22%;

    border: 3px solid #ffffff;
    border-radius: 24px;
    background-color: rgba(12, 12, 12, 0.3);

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

button:focus,
button:active,
button:hover {
    color: @color11;
    background-color: rgba(12, 12, 12, 0.6);
    border: 3px solid @color11;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}